form{
    width: 80px;
}

.btn{
    cursor: pointer;
    color: #fff;
    background-color: #1166C3;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 25px;
    text-align: center;
}

.btn:hover{
    background-color: #0554A8;
}

.book{
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.book p{
    margin: 3px 0 3px 0;
}

.nameBook{
    font-size: 20px;
}

span{
    color: #0554A8;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edit{
    color: #fecf6a;
}

.edit:hover{
    color: #f0a911;
}

.delete{
    color: #DD4848;
}

.delete:hover{
    color: #c42828;
}

.svg{
    height: 30px;
    width: 30px;
}
